<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div class="items"></div>

    <h1>Cart</h1>
    <div class="cart"></div>
    <button class=orderButton>Оформить заказ</button>
    <div class="orderForm"></div>
    <script src="/js/main.js"></script>
  </body>
</html>
